export YESOD_PGUSER="postgres-yesod"
export YESOD_PGPASS="postgres-yesod"
export YESOD_PGHOST="localhost"
export YESOD_PGPORT="5432"
export YESOD_PGPORT_TEST="54321"
export YESOD_PGDATABASE="mafia-db"
export YESOD_PGDATABASE_TEST="mafia-db_test"
export SECRET=secret-jwt
use flake . 
